.dm_CarouselBox {
    min-height: 440px;
    border: solid 1px #fff;
    background: #fff;
    &__dots {
        z-index: 9 !important;
        >li {
            >button {
                opacity: 1 !important;
            }
            &.slick-active {
                >button {   
                    background: var(--dm-main-color) !important;
                }
            }
        }
    }
    .ant-carousel {
        .slick-list {
            .slick-slide {
                img {
                    width: 100%;
                }
            }
        }
    }
}