.admin_user_list {
    padding: 20px;
    background-color: #fff;

    &__addBtn {
        margin-bottom: 12px;
    }

    &__avatar {
        width: 80px;
        height: 80px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        >img {
            width: 100%;
        }
    }
}