{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion":"latest",
    "requireConfigFile": false,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "no-unused-vars": "off"
  }
}