.pages_index {
    &__backTop {
        >.ant-back-top-content {
            >.ant-back-top-icon {
                .anticon {
                    font-size: initial;
                }
            }
        }
    }

    &__content {
        min-height: var(--min-content-height); 
        padding: 30px 0 50px;
    }

}