:root {
    // 主色调
    --dm-main-color: #1890ff;
    // body颜色
    --dm-body-color: #f0f0f0;

    // 文字颜色
    --dm-font-color-blue: #1890ff;
    --dm-font-color-white: #fff;
    --dm-font-color-555: #555;

    // 背景颜色
    --dm-bg-color-blue: #1890ff;
    --dm-bg-color-white: #fff;
    --dm-bg-color-555: #555;
}