.dm_MyOrder {
    height: 100%;
    background: #fff;
    margin-bottom: 30px !important;
    border: solid 1px #e6e6e6;
    padding: 20px 10px;

    &__title {
        display: flex;
        align-items: center;
        padding: 0px 0 6px 10px;
        h4 {
            margin-bottom: 0;
            margin-right: 6px;
        }
        div {
            display: flex;
            padding: 10px 0;
            i {
                font-style: normal;
                font-weight: bold;
                padding: 0 4px;
            }
        }
    }
    
    &__columns {
        padding-bottom: 10px;
        .ant-table-placeholder {
            display: none;
        }

        &--description {
            span + span {
                color: #999;
                font-size: 12px;
            }
        }
    }

    &__table {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--left {
            >span {
                margin-right: 12px;
            }
        }

        &--right {
            >span {                
                cursor: pointer;
            }
            &:hover {
                color: #40A9FF;
            }
        }
    }

    &__pagination {
        text-align: right;
    }
}