.dm_UserCenter {
    height: 100%;
    background: #fff;
    margin-bottom: 30px !important;
    border: solid 1px #e6e6e6;
    padding: 10px;
    
    .dm_PersonalInformation, .dm_LoginPassword {
        padding: 4px 0;
        &.submit {
            .ant-col-24 {
                text-align: center;
                padding: 10px 0;
                .ant-btn {
                    width: 104px;
                }
            }
        }
    }
    .operation_btn {
        a {
            padding: 0 4px;
            &:hover {
                color: var(--dm-font-color-blue);
            }
        }
    }
    .table_title {
        display: flex;
        padding: 0px 0 6px 10px;
        border-bottom: 1px solid #f0f0f0;
        h4 {
            margin-bottom: 0;
        }
        >.ant-select {
            min-width: 12%;
            margin-left: 20px;
        }
    }
}